<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/main.css">
</head>
<div class="header">
<div>
<div class = "title" > Jack Blazes' Stuff
</div>
</div>
<table>
    {% if page.title == "Home Page"%}
        <th> <a class = "active" href= {{site.base_url}}/index.html> Home </a> </th>
    {% else %}
        <th> <a href= {{site.base_url}}/index.html> Home </a> </th>
    {% endif %}

    {% if page.categories contains "origami" %}
        <th> <a class = "active" href= {{site.base_url}}/origami/index.html> Origami </a> </th>
    {% else %}
        <th> <a href= {{site.base_url}}/origami/index.html> Origami </a> </th>
    {% endif %}

    {% if page.categories contains "graphics" %}
        <th> <a class = "active" href= {{site.base_url}}/graphics/index.html> Graphics </a> </th>
    {% else %}
        <th> <a href= {{site.base_url}}/graphics/index.html> Graphics </a> </th>
    {% endif %}

    {% if page.categories contains "gamedev" %}
        <th> <a class = "active" href= {{site.base_url}}/gamedev/index.html> Game Development </a> </th>
    {% else %}
        <th> <a href= {{site.base_url}}/gamedev/index.html> Game Development </a> </th>
    {% endif %}

    {% if page.title == "About"%}
        <th> <a class = "active" href= {{site.base_url}}/about/index.html> About </a> </th>
    {% else %}
        <th> <a href= {{site.base_url}}/about/index.html> About </a> </th>
    {% endif %}

</table>
<a class = "corner" href = {{site.base_url}}/assets/resume.pdf> Resume </a>
</div>
</html>