<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <header>
      {% include "header.liquid" %}
    </header>
    <body>
    <div>
        {%comment%} <h2>{{ page.title }}</h2> {%endcomment%}
        {{ page.content }}
    </div>
    <div class = "grid">
      {% for post in collections.posts.pages %}
        {%assign pagecat = page.categories | append: "" %}
        {%assign postcat = post.categories | append: "" %}
        {%if postcat contains pagecat and postcat != ""%}
          {% if post.data.show_on_homepage %}
            <a class="grid-image" href={{ site.base_url }}/{{ post.permalink }}>
              <div class = "center-image">{{post.title}}</div>
              {% if post.data.thumbnail %}
                <img src="{{ post.data.thumbnail }}" class="grid-preview">
              {% else %}
                <img src="assets/thumbnails/missing.png" class="grid-preview">
              {% endif %}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>
